@mixin background {
    position:fixed;
    background: $bg-gradient, $bg-image;
    background-size:cover;
    height:100%;
    width:100%;
    background-position: top;
}
@mixin body-text {
    font-family: $font-family;
}
@mixin links {
    color:$main-color;
    font-size: 1.8em;
    text-decoration: underline;
}
@mixin secondary-bg-color($opacity) {
    background-color:#007ac2;
}

@mixin square($step-size) {
        width: $step-size;
        height: $step-size;
        line-height: 32px;
        display: inline-block;
        border-radius: 0;
        background: #007ac2;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 1.1em;
}
