@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf"); }
html, body {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  min-width: 100%; }

p, h1, h2, h3, h4, h5, a, li, span {
  font-family: "Lato", sans-serif; }

a {
  color: #000;
  text-decoration: underline; }

a[href^=tel] {
  color: #fff;
  text-decoration: underline; }

.panel-header p {
  font-size: 19px;
  line-height: 20px; }

#done {
  color: #fff;
  margin-top: 3vh;
  width: 100%;
  display: inline-block; }

#background {
  z-index: -1;
  position: fixed;
  background: linear-gradient(rgba(0, 141, 204, 0.75), rgba(0, 141, 204, 0.75)), url("../images/bg-image.jpg") no-repeat bottom center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: top; }

.btn.disabled:hover, .btn[disabled]:hover {
  cursor: pointer; }

.panel-h1 {
  background: #f2eeee !important; }

#grey-bg {
  background: #f2eeee !important; }

#orange-txt {
  color: #f57831;
  font-weight: bold; }

#bold-txt {
  font-weight: bold; }

#nhs-header {
  width: 101.5%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  padding: 20px 0;
  font-size: 40px; }

.spinner-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000000; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px; }

.noscroll {
  overflow: hidden; }

h1.header {
  display: none;
  margin: 5px auto;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  font-style: italic; }

.masthead {
  padding: 25px 0 5px 0; }

.navbar-nav {
  margin-bottom: 5px;
  float: right; }

.navbar-default {
  background: none;
  border: none; }
  .navbar-default .container-fluid {
    padding-left: 30px; }
    .navbar-default .container-fluid .navbar-header .gm-logo {
      width: 150px;
      display: block;
      margin: 0 auto; }
    .navbar-default .container-fluid .navbar-header .navbar-toggle {
      background: none;
      border: none;
      margin-top: 16px;
      padding-top: 0; }
      .navbar-default .container-fluid .navbar-header .navbar-toggle .icon-bar {
        height: 2px;
        width: 40px;
        background: #fff; }
        .navbar-default .container-fluid .navbar-header .navbar-toggle .icon-bar:nth-child(2) {
          margin: 10px 0; }
    .navbar-default .container-fluid .navbar-collapse {
      background-color: #fff;
      margin-top: 18px;
      margin-left: -30px;
      border-top: none; }
      .navbar-default .container-fluid .navbar-collapse .navbar-nav li a.menu-links {
        font-size: 1.1em; }
      .navbar-default .container-fluid .navbar-collapse .navbar-nav li a.mobile-none {
        display: none; }

.opening-times {
  display: none; }

.panel {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;
  margin-top: 10px;
  background: #f2eeee; }
  .panel .panel-header {
    color: #000;
    padding: 10px 15px;
    background: #fff;
    text-align: left;
    background: #fff; }
    .panel .panel-header h1 {
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 5px;
      color: #000; }
    .panel .panel-header .p-head {
      width: 100%;
      margin-bottom: 20px; }
  .panel .panel-body {
    padding: 15px 0;
    background: #fff; }
    .panel .panel-body .register-btn, .panel .panel-body .btn-register {
      color: #fff;
      border-radius: 5px;
      background-color: #007ac2;
      opacity: 1 !important;
      height: 50px;
      font-size: 1.3em;
      width: 100%;
      margin-bottom: 0; }
  .panel .panel-links {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: underline; }

a.connect {
  text-align: center;
  display: block;
  color: #fff;
  border-radius: 0;
  background-color: #007ac2;
  opacity: 1 !important;
  padding: 15px;
  font-size: 1.3em;
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 8px; }

a.connect:hover {
  text-decoration: none; }

.divider {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px; }

.divider hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  border-top: 2px dashed #000;
  color: #000;
  width: 25%; }

.left {
  float: left; }

.right, .right-content {
  float: right; }

.social-media {
  position: relative;
  height: 50px;
  text-align: center; }
  .social-media a {
    float: left;
    color: #fff;
    font-size: 1.5em; }
  .social-media a.fb, .social-media a.twitter, .social-media a.inst {
    padding: 10px 40px;
    width: 33.3%; }
  .social-media a.fb {
    background-color: #3b5998; }
  .social-media a.twitter {
    background-color: #4099ff; }
  .social-media a.inst {
    background-color: #8a3ab9; }

.bottom-button {
  margin-top: 30px; }

/*=================== Forms ========================*/
.form-group {
  z-index: 1000;
  margin-bottom: 0; }
  .form-group .form-control-feedback {
    right: 10px;
    top: 4px; }
  .form-group .glyphicon-remove {
    color: #fc3b3b; }
  .form-group input:not([type=checkbox]), .form-group select {
    border: 1px solid #000;
    border-radius: 8px;
    height: 48px; }
  .form-group .with-errors ul li {
    font-size: 1.0em;
    color: #fc3b3b; }

.standard-inputs {
  padding-left: 0;
  padding-right: 0; }

.mobile-padding-left {
  padding-left: 0; }

.mobile-padding-right {
  padding-right: 0; }

input[type="checkbox"]:not(.ie_lt9) {
  display: none; }

input[type="checkbox"]:not(.ie_lt9) + label span {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0px 15px 5px 0;
  vertical-align: middle;
  background: url("/assets/images/tick.png") left top no-repeat;
  cursor: pointer;
  float: left;
  border-radius: 20px; }

input[type="checkbox"]:checked:not(.ie_lt9) + label span {
  background: url("/assets/images/tick.png") -32px top no-repeat; }

label {
  margin-left: -4px !important;
  margin-top: 4px !important; }

.has-feedback .form-control {
  padding-right: 22px; }

.top-gap {
  margin-top: 5px; }
  .top-gap label {
    font-size: 19px;
    color: #000; }
  .top-gap li {
    margin-top: -10px; }

.account-login {
  text-align: center;
  margin-bottom: 15px; }
  .account-login .or {
    position: relative; }
    .account-login .or h2 {
      text-align: center; }
    .account-login .or span {
      height: 3px;
      width: 35%;
      background: #f2eeee;
      position: absolute;
      left: 5%;
      top: 50%; }
      .account-login .or span:last-child {
        right: 5%;
        left: auto; }
  .account-login a.btn {
    color: #fff;
    border-radius: 8px;
    background-color: #6f6f70;
    opacity: 1 !important;
    height: 50px;
    font-size: 1.3em;
    width: calc(100% - 30px);
    margin-bottom: 0;
    line-height: 36px; }
  .account-login img {
    width: 125px;
    margin: auto;
    margin-top: 15px; }

.welcome-banners {
  width: 92%;
  margin: auto; }

.googlesearch {
  margin-top: 30px;
  margin-bottom: 20px;
  float: none;
  color: #fff; }
  .googlesearch h3 {
    margin-bottom: 32px;
    letter-spacing: 2px;
    line-height: 1.25;
    margin-top: 0;
    font-family: 'avant-garde-gothic-medium', sans-serif;
    color: #f57831; }
  .googlesearch form input {
    padding: 0 15px;
    line-height: 1;
    border-radius: 6px;
    height: 32px;
    font-size: 18px;
    font-weight: normal;
    width: 90%;
    position: relative;
    border: 1px solid #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000; }
    .googlesearch form input::placeholder {
      color: #666; }
  .googlesearch form span {
    position: absolute;
    right: 11%;
    top: auto;
    font-size: 22px;
    bottom: 0;
    height: 35px;
    padding-left: 1rem;
    width: 32px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    .googlesearch form span:hover {
      cursor: pointer; }
    .googlesearch form span img {
      width: 32px;
      margin-top: 8px; }

.welcome-banners > div {
  margin: 8px 0; }
  .welcome-banners > div img {
    border-radius: 8px; }

/*================== Steps ========================*/
#breadcrumbs-nav {
  position: relative;
  height: auto;
  padding: 7px; }
  #breadcrumbs-nav .wizard {
    width: 100%;
    margin: 0 auto; }
    #breadcrumbs-nav .wizard .wizard-inner {
      position: relative; }
    #breadcrumbs-nav .wizard .connecting-line {
      height: 1px;
      background: #fff;
      position: absolute;
      width: 99%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 32%;
      z-index: 1; }
    #breadcrumbs-nav .wizard .nav-tabs {
      border: none; }
      #breadcrumbs-nav .wizard .nav-tabs li {
        width: 33.3%; }
        #breadcrumbs-nav .wizard .nav-tabs li .square-step {
          width: 40px;
          height: 40px;
          line-height: 32px;
          display: inline-block;
          border-radius: 0;
          background: #007ac2;
          z-index: 2;
          position: absolute;
          left: 0;
          text-align: center;
          font-size: 1.1em;
          color: #fff;
          border: 2px solid #fff; }
        #breadcrumbs-nav .wizard .nav-tabs li:first-child {
          float: left;
          text-align: left;
          color: #fff; }
        #breadcrumbs-nav .wizard .nav-tabs li:nth-child(2) {
          text-align: center;
          color: #fff; }
        #breadcrumbs-nav .wizard .nav-tabs li:last-child {
          float: right;
          text-align: right;
          color: #fff; }
        #breadcrumbs-nav .wizard .nav-tabs li a {
          width: 35px;
          height: 35px;
          margin: 0 auto;
          border-radius: 0;
          padding: 0;
          border: none; }
        #breadcrumbs-nav .wizard .nav-tabs li p {
          color: #fff;
          margin-top: 15px; }
      #breadcrumbs-nav .wizard .nav-tabs li.active a, #breadcrumbs-nav .wizard .nav-tabs li.active a:hover, #breadcrumbs-nav .wizard .nav-tabs li.active a:focus {
        color: #fff;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
        cursor: default; }
      #breadcrumbs-nav .wizard .nav-tabs li.active .square-step {
        background: #f57831;
        color: #fff; }
      #breadcrumbs-nav .wizard .nav-tabs li:nth-child(1) a {
        margin-left: 0; }
      #breadcrumbs-nav .wizard .nav-tabs li:nth-child(1) p {
        text-align: left; }
      #breadcrumbs-nav .wizard .nav-tabs li:nth-child(3) a {
        margin-right: 0; }
      #breadcrumbs-nav .wizard .nav-tabs li:nth-child(3) p {
        text-align: right; }
    #breadcrumbs-nav .wizard .tab-pane {
      position: relative;
      padding-top: 50px; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }

.logo {
  background: #fff;
  width: auto;
  border-bottom-right-radius: 3rem;
  padding: 1.5rem;
  position: absolute; }

.gm-logo {
  width: 140px; }

@media (min-width: 768px) {
  .logo {
    background: #fff;
    width: auto;
    border-bottom-right-radius: 6rem;
    padding: 4rem;
    position: absolute; }

  .gm-logo {
    width: 189px; }

  #breadcrumbs-nav {
    padding-left: 15px;
    padding-right: 15px; }
    #breadcrumbs-nav .wizard .connecting-line {
      height: 1px; }
    #breadcrumbs-nav .wizard .nav-tabs li .square-step {
      width: 50px;
      height: 50px;
      line-height: 32px;
      display: inline-block;
      border-radius: 0;
      background: #007ac2;
      z-index: 2;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 1.1em;
      line-height: 46px; }
    #breadcrumbs-nav .wizard .nav-tabs li a {
      height: 50px;
      width: 50px; }
    #breadcrumbs-nav .wizard .nav-tabs li p {
      color: #fff; } }
/*=============== Footer ===============*/
.footer-info-main {
  padding: 0 0 20px 0;
  z-index: 9999;
  float: right; }
  .footer-info-main .footer-image {
    float: right;
    width: 120px; }
  .footer-info-main p {
    color: #fff;
    font-size: 0.8em;
    margin-top: 10px; }

.footer-info {
  margin: 0 0 20px 0;
  padding: 0; }
  .footer-info .footer-image {
    float: right;
    width: 120px; }
  .footer-info p {
    color: #fff;
    font-size: 0.8em;
    margin-top: 10px; }

.friendly {
  margin-left: 12px; }

/*=========== Misc pages ===============*/
.glyphicon {
  display: none; }

.validate-emails {
  padding-left: 15px;
  padding-right: 15px; }

.error-page, .incorrect {
  color: #fff;
  font-size: 1.2em; }
  .error-page p, .incorrect p {
    margin-top: 20px; }
  .error-page a, .incorrect a {
    color: #fff;
    text-decoration: underline; }

.verify-btn {
  color: #fff;
  border-radius: 0;
  border: none;
  background-color: #007ac2;
  opacity: 1 !important;
  height: 50px;
  font-size: 1.1em;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px; }

/*=========== Modals ==================*/
.big-modal {
  background: #FFF;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999999999;
  display: none;
  overflow: auto; }

.big-modal h1 {
  margin-top: 2em; }

.big-modal h1, h2 {
  color: #008dcc;
  font-size: 24px;
  font-weight: bold; }

.big-modal p, li {
  color: #000;
  padding: 0;
  text-align: left;
  line-height: 1.5; }

.indent {
  padding-left: 30px; }

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  margin-top: 1em; }

/*======== FAQ ========*/
.panel-title > a {
  color: #fff; }

#FAQ .panel-body {
  color: #000;
  font-weight: bold; }

#accordion > .panel-default {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0; }

#accordion > .panel-default > .panel-heading {
  background: #008dcc;
  border: 0;
  padding: 15px; }

#accordion > .panel-default > .panel-collapse > .panel-body {
  background: #f9f9f9;
  padding: 15px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.4px; }

/*=========== Media Queries ============*/
@media (min-width: 500px) {
  .panel .panel-header .p-head-right .fa-pencil {
    color: #CFD8DC;
    margin: 5px 0 0 10px;
    font-size: 80px; }
  .panel p {
    font-size: 19px; } }
@media (max-width: 768px) {
  .friendly {
    margin-left: -2px;
    width: 80px; } }
@media (min-width: 768px) {
  h1.header {
    margin: 48px 0 20px 0;
    font-style: normal; }

  .navbar-default {
    background: none;
    border: none; }
    .navbar-default .container-fluid {
      padding-left: 15px; }
      .navbar-default .container-fluid .collapse {
        background: none;
        margin-left: 0; }
        .navbar-default .container-fluid .collapse .navbar-nav li a.menu-links, .navbar-default .container-fluid .collapse .navbar-nav li a.mobile-none {
          color: #fff;
          font-size: 1.8em; }
        .navbar-default .container-fluid .collapse .navbar-nav li a.menu-links {
          text-decoration: underline; }
        .navbar-default .container-fluid .collapse .navbar-nav li a.mobile-none {
          display: block;
          text-decoration: none; }

  .panel {
    margin-left: 0;
    margin-right: 0; }
    .panel .panel-body .register .register-btn {
      padding: 0 40px; }

  .mobile-padding-left {
    padding-left: 15px; }

  .mobile-padding-right {
    padding-right: 15px; }

  .top-gap {
    margin-top: 5px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .panel .panel-header .p-head-right .fa-pencil {
    color: #CFD8DC;
    margin: 0 0 0 30px;
    font-size: 75px; }

  .col-sm-12 {
    width: 65%; }

  .footer-info-main {
    width: 63%; }

  .friendly {
    margin-left: -4px;
    width: 100px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .panel .panel-header .p-head-right .fa-pencil {
    color: #CFD8DC;
    margin: 10px 0 0 5px;
    font-size: 70px; }

  #nhs-header {
    width: 101.5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    padding: 0px 0;
    font-size: 40px; } }
@media (min-width: 992px) {
  .footer-info-main {
    width: 50%; }

  .masthead {
    padding-top: 50px; }

  .registration {
    margin-top: 20px; }

  h1.header {
    font-style: normal;
    text-align: right;
    margin-top: 20px;
    float: right; }

  .navbar-default .container-fluid .navbar-header .gm-logo {
    width: 200px;
    margin: 0; }
  .navbar-default .container-fluid .navbar-collapse .navbar-nav {
    margin-top: 20px; }
    .navbar-default .container-fluid .navbar-collapse .navbar-nav li a {
      font-size: 1.8em; }
    .navbar-default .container-fluid .navbar-collapse .navbar-nav li:nth-child(1) {
      margin-right: -15px; }
    .navbar-default .container-fluid .navbar-collapse .navbar-nav li:nth-child(3) {
      margin-left: -15px; }

  .opening-times {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px 50px 0 0;
    color: #fff; }
    .opening-times .times {
      float: left;
      position: absolute;
      top: 150px;
      background-color: #007ac2;
      height: auto;
      width: 70%;
      padding: 10px 25px; }

  .wizard {
    width: 100%; }
    .wizard .connecting-line {
      width: 85%; }

  .footer-info-main .footer-image {
    float: right;
    width: 200px; }
  .footer-info-main p {
    padding-left: 15px;
    color: #fff;
    font-size: 1.2em;
    margin-top: 15px; }

  .footer-info {
    margin: 20px 0 20px -15px;
    padding: 0 50px 0 0; }
    .footer-info .footer-image {
      float: right;
      width: 200px; }
    .footer-info p {
      padding-left: 15px;
      color: #fff;
      font-size: 1.2em;
      margin-top: 15px; }

  .form-group .form-control-feedback {
    right: 8px;
    top: 4px; }

  .col-md-5 {
    width: 49.666667%; } }
@media (max-width: 440px) {
  h1.header {
    font-size: 2rem; }

  #breadcrumbs-nav {
    margin-left: -15px;
    margin-right: -15px; }

  .registration.center-block #nhs-header {
    font-size: 28px; }

  .row {
    margin-right: 4px;
    margin-left: 4px; }

  .top-gap label {
    font-size: 16px;
    color: #000;
    line-height: 20px; }

  #myNavbar {
    width: 100vw;
    margin-left: -49px; }

  .top-gap {
    margin-top: 0; } }
@media (min-width: 1200px) {
  .footer-info-main {
    padding: 0;
    width: 98%;
    position: absolute;
    bottom: 1%;
    margin: 0;
    left: 1%; }
    .footer-info-main .footer-image {
      float: right;
      width: 200px; }
    .footer-info-main p {
      padding-left: 15px;
      color: #fff;
      font-size: 1.2em;
      margin-top: 15px; }

  .col-md-5 {
    width: 40.666667%; }

  #nhs-header {
    width: 55.5%;
    margin-top: 97px;
    margin-bottom: 0;
    margin-right: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0 0;
    font-size: 48px;
    text-align: right;
    float: right; }

  .col-md-6 {
    width: 59%; } }
@media (max-width: 325px) {
  #breadcrumbs-nav .wizard .connecting-line {
    margin: -8px auto; }

  .registration.center-block #nhs-header {
    font-size: 23px; }

  .top-gap {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
