@import 'mixins.scss';
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

$bg-gradient:linear-gradient(rgba(0, 141, 204, 0.75), rgba(0, 141, 204, 0.75));
$bg-image:url('../images/bg-image.jpg') no-repeat bottom center;
$main-color:#fff;
$form-color: #000;
$pencil-color: #CFD8DC;
$panel-bg-color: #d2e3ea;
$steps-dimension: 40px;
$font-family: 'Lato', sans-serif;
$error-color: rgba(255,43,71,1);
$success-color: #2daa56;

$main-color:#fff;
$steps-dimension: 35px;
$error-color: #fc3b3b;
$success-color: #2daa56;
$font-color: #58585A;
html,body {
    margin:0;
    padding:0;
}
html {
    height:100%;
    width:100%;
}
body {
    min-height: 100%;
    min-width: 100%;
}
p,h1,h2,h3,h4,h5,a,li,span {
    @include body-text;
}
a {
  color: #000;
  text-decoration: underline;
}
a[href^=tel] {
    color:#fff;
    text-decoration:underline;
}
.panel-header {
  p{
    font-size: 19px;
      line-height: 20px;
  }
}

#done {
  color: #fff;
  margin-top: 3vh;
  width: 100%;
  display: inline-block;
}
#background {
    z-index:-1;
    @include background;
}
.btn.disabled, .btn[disabled] {
  &:hover {
    cursor:pointer;
  }
}
.panel-h1 {
  background: #f2eeee!important;
}
#grey-bg {
  background: #f2eeee!important;
}
#orange-txt {
  color: #f57831;
  font-weight: bold;
}
#bold-txt {
  font-weight: bold;
}
#nhs-header {
  width: 101.5%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  padding: 20px 0;
  font-size: 40px;
}

.spinner-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    z-index: 1000000;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.noscroll {
    overflow: hidden;
}
h1.header {
    display:none;
    margin:5px auto;
    text-align: center;
    color:$main-color;
    letter-spacing: 0.5px;
    font-style: italic;
}
.masthead {
    padding:25px 0 5px 0;
}
.navbar-nav {
    margin-bottom:5px;
    float: right;
}
.navbar-default {
    background:none;
    border:none;
    .container-fluid {
        padding-left: 30px;
        .navbar-header {
            .gm-logo {
                width:150px;
                display:block;
                margin:0 auto;
            }
            .navbar-toggle {
                background:none;
                border:none;
                margin-top:16px;
                padding-top:0;
                .icon-bar {
                    height:2px;
                    width:40px;
                    background: $main-color;
                    &:nth-child(2) {
                        margin: 10px 0;
                    }
                }
            }
        }
        .navbar-collapse {
            background-color: $main-color;
            margin-top: 18px;
            margin-left: -30px;
            border-top: none;
            .navbar-nav {
                li {
                    a.menu-links {
                        font-size: 1.1em;
                    }
                    a.mobile-none {
                        display:none;
                    }
                }
            }
        }
    }
}
.opening-times {
    display:none;
}
.panel {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    margin-top: 10px;
        background: #f2eeee;
    .panel-header {
        color:$form-color;
        padding:10px 15px;
        background:$main-color;
        text-align: left;
        background: #fff;
        h1 {
          font-weight: bold;
          font-size: 26px;
          margin-bottom: 5px;
          color: #000;
        }
        .p-head {
            width:100%;
            margin-bottom: 20px;
        }

    }
    .panel-body {
        padding:15px 0;
        background: #fff;
        .register-btn, .btn-register {
            color:$main-color;
            border-radius: 5px;
            @include secondary-bg-color(1);
            opacity:1!important;
            height:50px;
            font-size: 1.3em;
            width:100%;
            margin-bottom:0;
        }
    }

    .panel-links {
        display:block;
        margin-top:5px;
        margin-bottom: 10px;
        font-size: 1.2em;
        text-decoration: underline;
    }
}
a.connect {
    text-align: center;
    display:block;
    color:$main-color;
    border-radius: 0;
    @include secondary-bg-color(1);
    opacity:1!important;
    padding:15px;
    font-size: 1.3em;
    width:100%;
    margin-bottom:30px;
    text-decoration: none;
    border-radius: 8px;
}
a.connect:hover {
    text-decoration: none;
}
.divider {
    width:100%;
    text-align:center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.divider hr {
    margin-left:auto;
    margin-right:auto;
    margin-top:12px;
    border-top: 2px dashed $form-color;
    color:$form-color;
    width:25%;

}
.left {
    float:left;
}

.right, .right-content {
    float:right;
}
.social-media {
    position:relative;
    height:50px;
    text-align: center;

    a
    {
        float:left;
        color:$main-color;
        font-size: 1.5em;
    }
    a.fb, a.twitter, a.inst {
        padding:10px 40px;
        width:33.3%;
    }
    a.fb {
        background-color: #3b5998;
    }
    a.twitter {
        background-color: #4099ff;
    }
    a.inst {
        background-color: #8a3ab9;
    }
}
.bottom-button {
    margin-top:30px;
}
/*=================== Forms ========================*/
.form-group {
    z-index:1000;
    margin-bottom: 0;
    .form-control-feedback{
        right:10px;
        top:4px;
    }
    .glyphicon-remove {
        color: $error-color;
    }
    input:not([type=checkbox]), select {
        border: 1px solid #000;
        border-radius: 8px;
        height:48px;
    }
    .with-errors {
        ul {
            li {
                font-size: 1.0em;
                color: $error-color;
            }
        }
    }
}
.standard-inputs {
    padding-left: 0;
    padding-right: 0;
}
.mobile-padding-left {
    padding-left: 0;
}
.mobile-padding-right {
    padding-right: 0;
}
input[type="checkbox"]:not(.ie_lt9) {
     display: none;
 }

 input[type="checkbox"]:not(.ie_lt9) + label span {
     display:block;
     width:32px;
     height:32px;
     margin:0px 15px 5px 0;
     vertical-align:middle;
     background:url("/assets/images/tick.png") left top no-repeat;
     cursor:pointer;
     float: left;
     border-radius: 20px;
 }

 input[type="checkbox"]:checked:not(.ie_lt9) + label span {
     background:url("/assets/images/tick.png") -32px top no-repeat;
 }
 label {
     margin-left:-4px!important;
     margin-top:4px !important;
 }
 .has-feedback {
    .form-control{
        padding-right: 22px;
    }
}
.top-gap {
    margin-top:5px;

    label {
        font-size: 19px;
        color:$form-color;
    }
    li {
        margin-top:-10px;
    }
}
.account-login {
    text-align: center;
    margin-bottom: 15px;
    .or {
        position: relative;
        h2 {
            text-align: center;
        }
        span {
            height: 3px;
            width: 35%;
            background: #f2eeee;
            position: absolute;
            left: 5%;
            top: 50%;
            &:last-child {
                right: 5%;
                left: auto;
            }
        }
    }
    a.btn {
        color: #fff;
        border-radius: 8px;
        background-color: #6f6f70;
        opacity: 1 !important;
        height: 50px;
        font-size: 1.3em;
        width: calc(100% - 30px);
        margin-bottom: 0;
        line-height: 36px;
    }
    img {
        width: 125px;
        margin: auto;
        margin-top: 15px;
    }
}

.welcome-banners {
    width: 92%;
    margin: auto;
}

.googlesearch {
  margin-top: 30px;
  margin-bottom: 20px;
  float: none;
  color: #fff;
  h3 {
    margin-bottom: 32px;
    letter-spacing: 2px;
    line-height: 1.25;
    margin-top: 0;
    font-family: 'avant-garde-gothic-medium', sans-serif;
    color: #f57831;
  }
  form {
    input {
      padding: 0 15px;
      line-height: 1;
      border-radius: 6px;
      height: 32px;
      font-size: 18px;
      font-weight: normal;
      width: 90%;
      position: relative;
      border: 1px solid #000;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #000;
      &::placeholder {
        color: #666;
      }
    }
    span {
      position: absolute;
      right: 11%;
      top: auto;
      font-size: 22px;
      bottom: 0;
      height: 35px;
      padding-left: 1rem;
      width: 32px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 32px;
        margin-top: 8px;
      }
    }
  }
}

.welcome-banners > div {
    margin: 8px 0;
    img {
       border-radius: 8px;
   }
}

/*================== Steps ========================*/
#breadcrumbs-nav {
    position: relative;
    height: auto;
    padding: 7px;
       .wizard {
        width:100%;
        margin: 0 auto;

        .wizard-inner {
            position: relative;
        }
        .connecting-line {
            height: 1px;
            background: #fff;
            position: absolute;
            width: 99%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 32%;
            z-index: 1;
        }
        .nav-tabs {
            border:none;
            li {
                width: 33.3%;
                .square-step {
                    @include square(40px);
                    color:#fff;
                    border: 2px solid #fff;
                }
                &:first-child {
                  float: left;
                  text-align: left;
                  color: #fff;
                }
                &:nth-child(2) {
                  text-align: center;
                  color: #fff;
                }
                &:last-child{
                  float: right;
                  text-align: right;
                  color: #fff;
                }
                a {
                    width: $steps-dimension;
                    height: $steps-dimension;
                    margin: 0 auto;
                    border-radius: 0;
                    padding: 0;
                    border:none;
                }
                p {
                    color:$main-color;
                    margin-top:15px;
                  }
            }
            li.active {
                a, a:hover, a:focus {
                    color: $main-color;
                    cursor: default;
                    border: 0;
                    border-bottom-color: transparent;
                    cursor:default;
                }
                .square-step {
                    background: #f57831;
                    color: $main-color;
                }
            }
            li:nth-child(1) {
                a {
                    margin-left:0;
                }
                p {
                    text-align: left;
                }
            }
            li:nth-child(3) {
                a {
                    margin-right: 0;
                }
                p {
                    text-align: right;
                }
            }
        }
        .tab-pane {
            position: relative;
            padding-top: 50px;
        }
    }
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.logo {
    background: #fff;
    width: auto;
    border-bottom-right-radius: 3rem;
    padding: 1.5rem;
    position: absolute;
}
.gm-logo {
    width:140px;
}

@media (min-width:768px) {
    .logo {
        background: #fff;
        width: auto;
        border-bottom-right-radius: 6rem;
        padding: 4rem;
        position: absolute;
    }
    .gm-logo {
        width:189px;
    }
    #breadcrumbs-nav {
        padding-left:15px;
        padding-right: 15px;
        .wizard {
            .connecting-line {
                height: 1px;
            }
            .nav-tabs {
                li {
                    .square-step {
                        @include square(50px);
                        line-height: 46px;

                    }
                    a {
                        height:50px;
                        width:50px;
                    }
                    p {
                        color:$main-color;
                    }
                }
            }
        }
    }
}
/*=============== Footer ===============*/
.footer-info-main {
    padding:0 0 20px 0;
    z-index:9999;
    float: right;
    .footer-image {
        float:right;
        width:120px;
    }
    p {
        color:$main-color;
        font-size: 0.8em;
        margin-top:10px;
    }
}
.footer-info {
    margin:0 0 20px 0;
    padding:0;
    .footer-image {
        float:right;
        width:120px;
    }
    p {
        color:$main-color;
        font-size: 0.8em;
        margin-top:10px;
    }
}
.friendly {
  margin-left: 12px;
}
/*=========== Misc pages ===============*/
.glyphicon {
    display:none;
}
.validate-emails {
    padding-left: 15px;
    padding-right: 15px;
}
.error-page, .incorrect {
    color:$main-color;
    font-size: 1.2em;
    p {
        margin-top: 20px;
    }
    a {
        color:$main-color;
        text-decoration: underline;
    }

}
.verify-btn {
    color: #fff;
    border-radius: 0;
    border:none;
    background-color: #007ac2;
    opacity: 1 !important;
    height: 50px;
    font-size: 1.1em;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
}
/*=========== Modals ==================*/
.big-modal {
  background: #FFF;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999999999;
  display: none;
  overflow: auto; }

.big-modal h1 {
  margin-top: 2em; }

.big-modal h1, h2 {
  color: #008dcc;
  font-size: 24px;
  font-weight: bold; }

.big-modal p, li {
  color: #000;
  padding: 0;
  text-align: left;
  line-height: 1.5; }

.indent {
  padding-left: 30px; }

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  margin-top: 1em; }

/*======== FAQ ========*/
.panel-title > a {
  color: #fff; }

#FAQ .panel-body {
  color: #000;
  font-weight: bold; }

#accordion > .panel-default {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

#accordion > .panel-default > .panel-heading {
  background: #008dcc;
  border: 0;
  padding: 15px; }

#accordion > .panel-default > .panel-collapse > .panel-body {
  background: #f9f9f9;
  padding: 15px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.4px; }


/*=========== Media Queries ============*/
@media (min-width:500px) {
    .panel{
        .panel-header {
            .p-head-right {
                .fa-pencil {
                    color:$pencil-color;
                    margin:5px 0 0 10px;
                    font-size: 80px;
                }
            }
        }
        p{
          font-size: 19px;
        }
    }
}
@media (max-width:768px) {
  .friendly {
    margin-left: -2px;
    width: 80px;
  }
}
@media (min-width:768px){
    h1.header {
        margin: 48px 0 20px 0;
        font-style: normal;
    }
    .navbar-default {
        background: none;
        border:none;
        .container-fluid {
            padding-left: 15px;
            .navbar-header {

            }
            .collapse {
                background:none;
                margin-left: 0;
                .navbar-nav {
                    li {
                        a.menu-links, a.mobile-none {
                            color:$main-color;
                            font-size: 1.8em;
                        }
                        a.menu-links {
                            text-decoration: underline;
                        }
                        a.mobile-none {
                            display:block;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .panel {
        margin-left: 0;
        margin-right: 0;
        .panel-body {
            .register {
                .register-btn {
                    padding:0 40px;
                }
            }
        }
    }
    .mobile-padding-left {
        padding-left: 15px;
    }
    .mobile-padding-right {
        padding-right: 15px;
    }
    .top-gap {
        margin-top:5px;

    }
}
@media (min-width: 768px) and (max-width:991px) {
    .panel{
        .panel-header {
            .p-head-right {
                .fa-pencil {
                    color:$pencil-color;
                    margin:0 0 0 30px;
                    font-size: 75px;
                }
            }
        }
    }
    .col-sm-12 {
    width: 65%;
}
.footer-info-main {
  width: 63%;
}
.friendly {
  margin-left: -4px;
  width: 100px;
}
    }
@media (min-width: 992px) and (max-width:1199px){
    .panel{
        .panel-header {
            .p-head-right {
                .fa-pencil {
                    color:$pencil-color;
                    margin:10px 0 0 5px;
                    font-size: 70px;
                }
            }
        }
    }
    #nhs-header {
    width: 101.5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    padding: 0px 0;
    font-size: 40px;
}
}
@media (min-width:992px){
  .footer-info-main {
    width: 50%;
  }
    .masthead {
        padding-top: 50px;
    }
    .registration {
        margin-top: 20px;
    }
    h1.header {
        font-style: normal;
        text-align: right;
        margin-top: 20px;
        float: right;
    }
    .navbar-default {
        .container-fluid {
            .navbar-header {
                .gm-logo {
                    width:200px;
                    margin:0;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    margin-top:20px;
                    li {
                        a {
                            font-size: 1.8em;
                        }
                    }
                    li:nth-child(1) {
                        margin-right: -15px;
                    }
                    li:nth-child(3) {
                        margin-left: -15px;
                    }
                }
            }
        }

    }
    .opening-times {
        display:block;
        position:relative;
        width:100%;
        height:100%;
        padding:100px 50px 0 0;
        color:$main-color;
        .times {
            float:left;
            position:absolute;
            top:150px;
            @include secondary-bg-color(0.9);
            height:auto;
            width:70%;
            padding:10px 25px;
        }
    }
    .wizard {
        width:100%;
        .connecting-line {
            width:85%;
        }
    }
    .footer-info-main {
        .footer-image {
            float:right;
            width:200px;
        }
        p {
            padding-left: 15px;
            color:$main-color;
            font-size: 1.2em;
            margin-top:15px;
        }
    }
    .footer-info {
        margin:20px 0 20px -15px;
        padding:0 50px 0 0;
        .footer-image {
            float:right;
            width:200px;
        }
        p {
            padding-left: 15px;
            color:$main-color;
            font-size: 1.2em;
            margin-top:15px;
        }
    }
    .form-group {
        .form-control-feedback{
            right:8px;
            top:4px;
        }
    }
    .col-md-5 {
    width: 49.666667%;
}
}
@media (max-width: 440px) {
    h1.header {
        font-size: 2rem;
    }
    #breadcrumbs-nav {
        margin-left: -15px;
        margin-right: -15px;
    }
    .registration.center-block {
      #nhs-header {
        font-size: 28px;
      }
    }
    .row {
    margin-right: 4px;
    margin-left: 4px;
    }

.top-gap label {
    font-size: 16px;
    color: #000;
      line-height: 20px;
    }
    #myNavbar {
      width: 100vw;
      margin-left: -49px;
    }
    .top-gap {
      margin-top: 0;
    }
  }

@media (min-width:1200px){
    .footer-info-main {
      padding: 0;
      width: 98%;
      position: absolute;
      bottom: 1%;
      margin: 0;
      left: 1%;
        .footer-image {
            float:right;
            width:200px;
        }
        p {
            padding-left: 15px;
            color:$main-color;
            font-size: 1.2em;
            margin-top:15px;
        }
    }
    .col-md-5 {
    width: 40.666667%;
}
#nhs-header {
  width: 55.5%;
  margin-top: 97px;
  margin-bottom: 0;
  margin-right: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 0 0;
  font-size: 48px;
  text-align: right;
  float: right;
}
.col-md-6 {
    width: 59%;
}
}
@media (max-width:325px){
  #breadcrumbs-nav .wizard .connecting-line {
    margin: -8px auto;
  }
  .registration.center-block #nhs-header {
    font-size: 23px;
  }
  .top-gap {
    margin-top: 0;
  }
}
